.about {
}
.main {
  height: 100%;
}
.main-page {
  flex: 1 0 auto;
  height: 100%;
}

.actions-notes {
}
.about-app {
}
.about-app__block-about-app {
}
.block-about-app {
}
.block-about-app__title {
}
.block-about-app__text {
}
.block-about-app__instruction {
}
.instruction-app {
}
.instruction-app__title {
}
.instruction-app__text {
}
.instruction-app__link {
}
